<div class='container-sign-in'>
	<%= form_tag '/sessions/create', :method => 'post' do %>

		<span><%= label_tag :email, "Email:" %>
		<%= text_field_tag :email %></span>

		<span><%= label_tag :password, "Password:" %>
		<%= password_field_tag :password %></span>

		<%= submit_tag "Enter" %>

	<% end %>

	<%= link_to "or Create Account", new_user_url %>
</div>