<div class="container-user-show">
<p id="notice"><%= notice %></p>
<div>Account Balance: <%= @user.account_balance %></div>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<table class="user-picks-table">

	<tr>
		<th>Teams</th>
		<th>Wager Amount</th>
		<th>Selection</th>
		<th>Team</th>
		<th>Status</th>
	</tr>
	<tr>
	<% @user.picks.each do |pick| %>
	<td><%= pick.game_teams %></td>
	<td><%= pick.wager_amount %></td>
	<% if pick.home_or_away == 'away' %>
	<td><%= pick.game_teams.split(' vs. ').first %></td>
	<% else %>
	<td><%= pick.game_teams.split(' vs. ').last %></td>
	<% end %>
	<td><%= pick.home_or_away %></td>
	<%if pick.win_or_lose == nil %>
	<td>Pending</td>
	<% elsif pick.win_or_lose == "loss" %>
 	<td>Loss</td>
 	<% elsif pick.win_or_lose== "win" %>
 	<td>Win</td>
 	<% elsif pick.win_or_lose== 'push' %>
 	<td>Push</td>
 	<% end %>
 	<td><%= link_to "Pick",pick_url(pick.id) %></td>
	</tr>
	<% end %>
	
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>


