<%= form_for(@pick) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :win_or_lose %><br />
    <%= f.check_box :win_or_lose %>
  </div>

  <div class="field">
    <%= f.label :home_or_away, "Home" %>
    <%= f.radio_button :home_or_away, "Home"%><br />
    <%= f.label :home_or_away, "Away" %>
    <%= f.radio_button :home_or_away, "Away"%>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :game_teams %><br />
    <%= f.text_field :game_teams %>
  </div>
  <div class="field">
    <%= f.label :line %><br />
    <%= f.text_field :line %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
