<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @pick.user_id %>
</p>
<p>
  <b>Win or Lose:</b>
  <%= @pick.win_or_lose %>
</p>
<p>

<p>
  <b>Game:</b>
  <%= @pick.game_id %>
</p>

<p>
  <b>Game teams:</b>
  <%= @pick.game_teams %>
</p>

<p>
  <b>Line:</b>
  <%= @pick.line %>
</p>


<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
