<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @pick.user_id %>
</p>

<p>
  <b>Away picked:</b>
  <%= @pick.away_picked %>
</p>

<p>
  <b>Home picked:</b>
  <%= @pick.home_picked %>
</p>

<p>
  <b>Game:</b>
  <%= @pick.game_id %>
</p>

<p>
  <b>Game teams:</b>
  <%= @pick.game_teams %>
</p>

<p>
  <b>Line:</b>
  <%= @pick.line %>
</p>


<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
