<h1 id="balance">Account Balance: <%= @user.account_balance %></h1>
<% 
=begin
%>
<div id="game_2555" class="individual-game">
		<h3>Pennsbury v Neshaminy</h3>
			<h4> 10:00pm</h4>

			<%= form_for @pick, :remote => true do |f| %>
			  <% if @pick.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

			      <ul>
			      <% @pick.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.hidden_field :user_id, :value => session[:user_id] %>
			  </div>
			  <div class="field">
			    <%= f.label :home_or_away, "Away 5" %>
			    <%= f.radio_button :home_or_away, "Away"%>
			    <%= f.label :home_or_away, "Home -5" %>
			    <%= f.radio_button :home_or_away, "Home"%>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_id, :value => "2555" %>
			  </div>
			   <div class="field">
			    <%= f.hidden_field :game_time, :value => "2013-03-10T03:30" %>
			  </div>
			  <div class="field">
			  	<%= f.label :wager_amount, "Wager Amount" %>
			  	<%= f.number_field :wager_amount, :max => @user.account_balance/2%>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_teams, :value => "Pennsbury v Neshaminy" %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :line, :value => 5 %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Enter Pick", :class => 'pickbutton'%>
			  </div>
			<% end %>
	</div>

	<div id="game_2444" class="individual-game">
		<h3>CRN v CRS</h3>
			<h4> 10:00pm</h4>

			<%= form_for @pick, :remote => true do |f| %>
			  <% if @pick.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

			      <ul>
			      <% @pick.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.hidden_field :user_id, :value => session[:user_id] %>
			  </div>
			  <div class="field">
			    <%= f.label :home_or_away, "Away -7" %>
			    <%= f.radio_button :home_or_away, "Away"%>
			    <%= f.label :home_or_away, "Home 7" %>
			    <%= f.radio_button :home_or_away, "Home"%>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_id, :value => "2444" %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_time, :value => "2013-03-10T03:30" %>
			  </div>
			  <div class="field">
			  	<%= f.label :wager_amount, "Wager Amount" %>
			  	<%= f.number_field :wager_amount, :max => @user.account_balance/2%>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_teams, :value => "CRN v CRS" %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :line, :value => 5 %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Enter Pick", :class => 'pickbutton'%>
			  </div>
			<% end %>
	</div>

	<div id="game_2333" class="individual-game">
		<h3>Abington v Souderton</h3>
			<h4> 10:00pm</h4>

			<%= form_for @pick, :remote => true do |f| %>
			  <% if @pick.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

			      <ul>
			      <% @pick.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.hidden_field :user_id, :value => session[:user_id] %>
			  </div>
			  <div class="field">
			    <%= f.label :home_or_away, "Away -25" %>
			    <%= f.radio_button :home_or_away, "Away"%>
			    <%= f.label :home_or_away, "Home 25" %>
			    <%= f.radio_button :home_or_away, "Home"%>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_id, :value => "2333" %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_time, :value => "2013-03-10T03:30" %>
			  </div>
			  <div class="field">
			  	<%= f.label :wager_amount, "Wager Amount" %>
			  	<%= f.number_field :wager_amount, :max => @user.account_balance/2 %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_teams, :value => "Abington v Souderton" %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :line, :value => 5 %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Enter Pick", :class => 'pickbutton'%>
			  </div>
			<% end %>
	</div>

<% 
=end
%>



<% @odds.each do |odd| %>
	<% @game_teams = odd.game_teams %>
	<% @away_line = odd.away_line %>
	<% @home_line = odd.home_line %>
	<% @game_day = odd.game_date %>
	<% @game_time = odd.game_time %>
	<% @game_id = odd.game_id %>
	<% @away_id = odd.away_id %>
	<% @home_id = odd.home_id %>



	<% if @picks.where(:home_id => @home_id).any? %>
		<center><%= "Selection already made for the #{@game_teams} game." %></center>
	<% elsif ((Time.parse @game_time) < DateTime.now) || Date.today.day.to_i > @game_day.to_i  %>
		<center><%= "#{@game_teams} game is currently over or in progress." %></center>
	<% else %>
	<div id="game_<%= @home_id %>" class="individual-game">
		<h3><%= @game_teams %></h3>
			<%= @game_time %>
		<% if @home_line == nil %>
			<div class="no-line"><%= "Sorry, line currently unavailable" %></div>
		<% else %>
			<%= form_for @pick, :remote => true do |f| %>
			  <% if @pick.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

			      <ul>
			      <% @pick.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.hidden_field :user_id, :value => session[:user_id] %>
			  </div>
			  <div class="field">
			    <%= f.label :home_or_away, "Away #{@away_line}" %>
			    <%= f.radio_button :home_or_away, "Away"%>
			    <%= f.label :home_or_away, "Home #{@home_line}" %>
			    <%= f.radio_button :home_or_away, "Home"%>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_id, :value => @game_id %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :away_id, :value => @away_id %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :home_id, :value => @home_id %>
			  </div>

			  <div class="field">
			    <%= f.hidden_field :game_time, :value => @game_time %>
			  </div>
			  <div class="field">
			  	<%= f.label :wager_amount, "Wager Amount" %>
			  	<%= f.number_field :wager_amount, :min => 1, :max => @user.total_account_value/2, :width => 100 %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :game_teams, :value => @game_teams %>
			  </div>
			  <div class="field">
			    <%= f.hidden_field :line, :value => @home_line %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Enter Pick", :class => 'pickbutton'%>
			  </div>
			<% end %>
		<% end %>
	</div>
	
	<% end %>
<% end %>





