<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul>
			<li><%= link_to "Betting Lines", odds_url %></li>
			
			<% if session[:user_id].nil? %>
			<li><%= link_to "Sign In", sessions_new_url %></li>
			<% else %>
			<li><%= link_to "My Account", user_url(session[:user_id]) %></li>
			<li><%= link_to "Leaderboard", leaderboard_url %></li>
			<li><%= link_to "Sign Out", sessions_destroy_url %></li>
			<% end %>
		</ul>
	</nav>


<%= yield %>

</body>
</html>
